html * {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

html {
	margin: 0;
	font-size: 15px;
	font-family: $font-main;
	background-color: $off-white;
	color: $ink;
	@include media(xlg) {
		font-size: clamp(15px, 0rem + 0.7813vw, 30px);
	}
}

body {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

body::-webkit-scrollbar {
	width: 0;
	height: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

html,
body {
	height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: $font-main;
}

body * {
	box-sizing: border-box;
}

.layout-wrapper {
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: max-content minmax(0, 1fr) max-content;
	background-color: $off-white;
	header {
		grid-row: 1;
	}
	.page-wrapper {
		position: relative;
		grid-row: 2;
		main {
			min-height: 100%;
			padding: $spacing6;
			@include media(xsm) {
				padding-inline: $spacing3;
			}
			a {
				color: $gold;
				@include hover {
					color: $gold-dark;
				}
			}
		}
	}
	footer {
		grid-row: 3;
	}
}


